.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.right {
  margin-right: auto;
  width: 50%;
  background-color: rgb(146, 208, 230);
  padding: 10px;
}

.left {
  width: 50%;
  background-color: rgb(219, 77, 89);
  padding: 10px;
}


